name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/bun@v1

      - name: Install dependencies
        uses: bun install

      - name: Lint
        run: bun lint

      - name: Build
        run: bun build

      - name: Deploy
        uses: actions/deploy-pages@v4
